[{http, [{docroot,"."},
	 {flex_services, [users, file_fingerprinting, regex_category, time_management,
	ip_management, node_management, general_option_management, login_logs, service_logs,
	log_search, live_log, dashboard_protocol_service, dashboard_category_service, 
	dashboard_user_service,	dashboard_system_service, mime_type_group, mime_type,
	mime_type_cross, domain_cross, domain_group]}]}].
